.section--brands {
    .panel-bar {
        margin: 0;
        .row > * {
            border-bottom: 4px solid #e2e2e2;
        }
    }
    .brands-slider {
        display: flex;
        flex-direction: row;
        width: 100%;
        align-items: center;
        justify-content: space-between;
    }
    .brands-thumbnails {
        width: 100%;
        .thumbnails-brands-list {
            overflow: hidden;
            padding: 0;
            margin: auto;
            display: flex;
            align-items: center;
            flex-direction: row;
            justify-content: space-around;
            list-style: none;
            .thumbnails-brand {
                display: flex;
                border: 1px solid #e2e2e2;
    
                width: 143px;
                height: 92px;
                opacity: .5;
                @extend %hover-opacity;
    
                &--active {
                    opacity: 1;
                }
    
                &:hover {
                    opacity: .75;
                    @extend %hover-opacity;
                }
                .thumbnails-logo {
                    object-fit: contain;
                    margin: auto;
                    max-height: 70%;
                    max-width: 80%;
                }
            } 
        } 
    }   
    .btn-gallery {
        min-width: 31px;
        height: 92px;
        background-color: $footer-claim-bg;
        border: none;
        color: #fff;
        margin: 0 7px;
        padding: 0;
        cursor: pointer;
        @extend %hover-element;

        &:hover {
            color: $primary;
            @extend %hover-element;
        }
    }
    
}