.section--brands {
    .panel-bar {
        margin: 0;
        .row > * {
            border-bottom: 4px solid #e2e2e2;
        }
    }
    .slider-container {    
        max-width: 1200px;
        padding: 2rem 3rem;
        background: white;
        margin: 0;
        overflow: hidden;  
        position:relative;
    }
    .my-slider {
        position: relative;    
    }
    .slider-item {
        background: white;    
        .brand-logo {
            max-height: 100%;
            opacity: 1;
            @extend %hover-opacity;
            &:hover {
                cursor: pointer;
                opacity: .75;
                @extend %hover-opacity;
            }
        }           
    }
    .controls {
        margin: 0;
        padding: 0;
        list-style: none;
        position: absolute;
        left: 0;    
        background: none;
        width: 100%;    
        top: 50%;
        transform: translatey(-50%);
        display: flex;
        align-items: center;    
        justify-content: space-between;
        &:focus {
            outline: none;
        }
        .btn-gallery {
            width: 31px;
            height: 92px;
            background-color: $footer-claim-bg;
            border: none;
            color: #fff;
            margin: 0 7px;
            padding: 0;
            cursor: pointer;
            @extend %hover-element;

            &:hover {
                color: $primary;
                @extend %hover-element;
            }
        }
    }
}