.promo-box, .promo-box-small {
  position: relative;
  width: 100%;
  background-color: #ffffff;
  border: 1px solid #e1e1e1;
  margin-bottom: 2rem;
  text-transform: uppercase;

    .promo-box-img, .promo-box-small-img {
      width: 100%;
      height: 100%;
    }
}

.promo-box {
  height: 430px;
  position: relative;

  .rebate {
    width: 90%;
    height: 90%;
    position: absolute;
    left: 0;
    top: 0;
    margin: 5%;
    background-color: #292929;
    opacity: 0.4;
    color: #ffffff;
  }
  .rebate-info {
    width: fit-content;
    position: absolute;
    left: 20px;
    top: 22px;
    margin-left: 3vw;
    margin-top: 165px;
    color: white;
    opacity: 0.95;
    
    .rebate-info-title { 
      font-size: 38px;
      font-weight: bold;
      margin-bottom: 0;
      padding: 0;
    }
    .product-name {
        font-size: 56px;
        font-weight: bold;
        margin-top: -25px;
    }
    .product-rebate {
        width: 145px;
        margin-top: -20px; 
        padding: 0 10px;;
        font-size: 48px;
        font-weight: 500;
        border: 5px solid white;
    }
  }
}


.promo-box-small {
  height: 199px;
  background-size: 100% 100%;

  &.top {
    background-image: url("../images/new/bed/10.jpg");
  }

  &.down {
    background-image: url("../images/new/bed/07.jpg");
  }

  .collection {
    width: fit-content;
    margin: 10% auto;
    text-align: left;
          
      .collection-title {
        font-weight: 400;
        margin-bottom: 0;
        font-size: 1.8em;
        letter-spacing: 1px;
              
        .promo-bold {
          font-weight: bold;
        }
      }
      .collection-subtitle {
        margin-top: -5px;
        margin-bottom: 0;
        font-size: 1em;
        letter-spacing: 2.5px;
        font-weight: bold;
      }
      .collection-price {
        margin-top: -5px;
        font-size: 2em;
        font-weight: 500;
        color: $primary;        
      }
    }
    
    .special-collection {
      width: fit-content;
      float: right;
      margin-top: 15%;
      margin-right: 2vw;
      text-align: right;
    
      .special-collection-title {
        font-size: 1.5em;
        font-weight: 400;
        letter-spacing: 1.5px;
        color: $primary;
        .promo-bold {
          font-weight: bold;
        }
      }
      .special-collection-subtitle {
        font-size: 1rem;
        font-weight: 500;
        margin-top: -10px;
        padding-left: 13px;
      }
    }
}

@media (min-width: 768px) and (max-width: 991px) { 

.promo-box-small {
  
  .collection {
    margin: 25% auto 10%;

    .collection-title {
    font-size: 1.3em;
    }
    .collection-subtitle {
      font-size: 0.9em;
    }
    .collection-price {
      font-size: 1.6em;
    }
  }

  .special-collection {
    margin-top: 30%;
    
    .special-collection-title {
      font-size: 1.2em;
    }
    .special-collection-subtitle {
      font-size: 0.8em;
      font-weight: bold;
    }
  }
}
  
  


}

