.hot-deals  {
    display: flex;
    flex-direction: column;
        .bar {
            display: flex;
            background-color: $form-border-color;
            margin: 0 1px;
            padding: 15px 10px 10px 10px;
            justify-content: space-between;
            align-items: center;
            .bar-header {
                color: #ffffff;
                text-transform: uppercase;
              h5 {
                margin: .3rem 0;
              }
            }

            .dots {
              line-height: 0;
                ul {
                  margin: .3rem 0;
                  padding: 0 0 0 1rem;
                  list-style: none;
                  
                  li {
                    display: inline-block;
                    margin-left: 0.5rem;
            
                    a {
                      display: block;
                      width: 13px;
                      height: 13px;
                      border-radius: 6px;
                      background-color: #ffffff;
            
                      &.active,
                      &:hover {
                        @extend %hover-bg;
                        background-color: $primary;
                      }
                    }
                  }
                }
              }
        }
        .product-box {
            border-top: none;
        }
}
.featured-box {
  display: flex;
  flex-direction: column;
  .featured--slider {
    height: 100%;
    width: 100%;
    background-image: url("../images/blog/01.jpg");
    background-size: cover;
    background-position: center
    h1 {
      color: pink;
    }
  }
  .featured--slider-nav {
    display: flex;
    flex-direction: row;
    .nav-left,
    .nav-right {
      flex: 1;
      padding: 15px 10px 10px 10px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      color: #ffffff;
      background-color: $form-border-color;
      ransition: background-color $hover-bg-transition ease-out;
      .fas {
        margin: .3rem 0;
      }
      &:hover {
        @extend %hover-bg;
        background-color: $primary
      }
    }
  }
}